.backlink__container_campgrounds {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* margin: 10px 0 0 0; */
}

.back__link_campgrounds {
  color: black;
}

.back__text_campgrounds {
  font-family: "Kanit", sans-serif;
  margin-left: 10px;
  font-size: 18px;
  font-weight: 600;
}

.CampInfo h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1;
  font-size: 20px;
  text-align: center;
}

.span_bold_1_CI {
  font-weight: 700;
  /* text-decoration: underline; */
}

.span_bold_2_CI {
  font-weight: 600;
}
