.Hiking {
  max-width: 1000px;
  margin: 0 auto;
  font-family: "Kanit", sans-serif;
  padding: 0 30px 40px;
}

.hiking__title {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1;
  font-size: 26px;
}

.Hiking p {
  margin: 10px 0 0 0;
  font-size: 12px;
}
