.NewsReleases {
  max-width: 1000px;
  margin: 0 auto;
  font-family: "Kanit", sans-serif;
  padding: 0 30px 40px;
}

.article_container {
  /* margin-left: 20px; */
  margin-bottom: 20px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 0 10px 10px 10px;
}

.newsReleases__title {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1;
  font-size: 26px;
}

.NewsReleases h2 {
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1;
  font-size: 20px;
}

.NewsReleases p {
  margin: 10px 0;
}

.NewsReleases a {
  font-weight: 700;
}

.news_bold {
  font-weight: 700;
  /* text-decoration: underline; */
}
