.ParkMain {
  margin-top: 167px;
}

.secondary_navbar {
  padding: 10px 40px;
  background-color: rgb(73, 46, 0);
  background-color: rgb(40, 25, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 110px;
  width: 100%;
  z-index: 1;
  box-sizing: border-box;
}

.secondary_navlinks a {
  margin: 0 20px;
  color: rgb(255, 211, 66);
  text-decoration: none;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.secondary_navlinks a.active {
  color: white;
  border-bottom: 1px solid rgb(255, 211, 66);
}

.media_q_secondary_navlinks {
  display: none;
}

@media only screen and (max-width: 1333px) {
  .secondary_navlinks {
    display: none;
  }
  .media_q_secondary_navlinks {
    display: initial;
  }
  .secondary_navbar {
    justify-content: flex-end;
  }
  .nav_menu_btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    padding: 0 20px;
    background-color: rgb(40, 25, 0);
    color: #ffd342;
    text-decoration: none;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-size: 18px;
  }
}
