.Park {
  max-width: 1000px;
  margin: 0 auto;
  font-family: "Kanit", sans-serif;
  padding: 0 30px 40px;
}

.left_margin_park_info {
  margin-left: 30px;
}

.Park ul {
  padding: 0 0 0 30px;
  font-size: 14px;
}

.span_bold_1 {
  font-weight: 700;
  text-decoration: underline;
}

.span_bold_2 {
  font-weight: 600;
}

.park__title {
  margin-top: 0;
}
