.Park {
  max-width: 1000px;
  margin: 0 auto;
  font-family: "Kanit", sans-serif;
  height: 5000px;
}

.gallery_container {
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.image_class {
  display: block;
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.park__title {
  margin-top: 0;
}

.backlink__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0 0 0;
}

.back__link {
  /* text-decoration: none; */
  color: black;
}

.back__text {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 500;
}

.LazyLoad {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.is-visible {
  opacity: 1;
}

/* .yarl__root {
  --yarl__color_backdrop: rgb(14, 36, 0);
  --yarl__color_button: rgb(14, 36, 0);
  --yarl__color_button_active: rgb(14, 36, 0);
}

.yarl__thumbnails_container {
  --yarl__color_backdrop: rgb(14, 36, 0);
} */
