.ParkMain {
  margin-top: 157px;
  position: relative;
  z-index: 9;
}

.secondary_navbar {
  padding: 10px 20px;
  background-color: white;
  /* background-color: rgb(255, 250, 182); */
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 110px;
  width: 100%;
  z-index: 8;
  box-sizing: border-box;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); */
  /* border-bottom: 2px solid black; */
}

.secondary_navlinks a {
  margin: 0 20px;
  color: black;
  text-decoration: none;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.secondary_navlinks a.active {
  color: black;
  border-bottom: 2px solid black;
}

.backlink__container_nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* margin: 10px 0 0 0; */
}

.backlink__container_body {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* margin: 10px 0 0 0; */
}

.back__link {
  color: black;
}

.back__text {
  font-family: "Kanit", sans-serif;
  margin-left: 10px;
  font-size: 18px;
  font-weight: 600;
}

.scroll_to_top {
  border: none;
  background-color: transparent;
  position: fixed;
  bottom: 3px;
  right: 0px;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  color: black;
}

/* MEDIA QUERY CLASSES */

.secondary_navlinks_mq {
  display: none;
}

.menu_show {
  display: none;
}

.menu_hide {
  /* display: none; */
  position: fixed;
  right: -280px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
  position: fixed;
  top: 157px;
  z-index: 7;
  background-color: white;
  padding: 20px;
  box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.15s ease-in-out;
}

.menu_hide a {
  color: black;
  text-decoration: none;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.menu_hide a.active {
  color: black;
  border-bottom: 1px solid black;
}

@media only screen and (max-width: 1351px) {
  .secondary_navlinks {
    display: none;
  }
  .secondary_navbar {
    justify-content: flex-end;
  }
  .menu_show {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    position: fixed;
    top: 157px;
    right: 0;
    z-index: 7;
    background-color: white;
    padding: 20px;
    box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.15s ease-in-out;
  }
  .secondary_navlinks_mq {
    display: initial;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .menu_btn_icon {
    height: 18px;
    margin-left: 10px;
  }

  .nav_menu_btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    padding: 0;
    background-color: white;
    /* background-color: rgb(255, 250, 182); */
    color: black;
    text-decoration: none;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-size: 18px;
  }
  .menu_show a {
    color: black;
    text-decoration: none;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-size: 18px;
  }

  .menu_show a.active {
    color: black;
    border-bottom: 1px solid black;
  }
}

@media only screen and (max-width: 600px) {
  .ParkMain {
    margin-top: 90px;
  }
  .secondary_navbar {
    top: 53px;
    padding: 5px 20px;
  }
  .menu_show {
    top: 90px;
  }
  .menu_hide {
    top: 90px;
  }
}
