.People {
  max-width: 1000px;
  margin: 0 auto;
  font-family: "Kanit", sans-serif;
  padding: 0 30px 40px;
}

.people__title {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1;
  font-size: 26px;
}

.People p {
  margin: 0 0 10px 0;
}

.People h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1;
  font-size: 20px;
}

.title_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.people_container {
  margin-left: 10px;
}

.person_container {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 0 10px;
}

.People .person_container:first-child {
  border-top: 2px solid black;
}

.People .person_container:last-child {
  border-bottom: 2px solid black;
}

.person_img_cont {
  margin: 0 auto;
}

.person_img {
  width: 100%;
  /* margin: 0 auto; */
}

.person_expand {
  /* display: initial; */
  max-height: 500px;
  overflow-y: scroll;
  transition: max-height 0.1s linear;
}

.person_retract {
  /* display: none; */
  max-height: 0px;
  overflow-y: scroll;
  transition: max-height 0.1s linear;
}

.expand_arrow {
  display: block;
  height: 10px;
  transform: rotate(0deg);
  transition: transform 0.15s linear;
}

.transform_arrow {
  display: block;
  height: 10px;
  transform: rotate(180deg);
  transition: transform 0.15s linear;
}

@media only screen and (max-width: 400px) {
  .People h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1;
    font-size: 20px;
    cursor: pointer;
    text-overflow: ellipsis;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
  }
}
