.People {
  max-width: 1000px;
  margin: 0 auto;
  font-family: "Kanit", sans-serif;
  padding: 0 30px 40px;
}

.people__title {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1;
  font-size: 26px;
}

.People p {
  margin: 10px 0;
}

.People h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1;
  font-size: 20px;
  cursor: pointer;
}

.people_container {
  margin-left: 10px;
}

.person_container {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.People .person_container:first-child {
  border-top: 2px solid black;
}

.People .person_container:last-child {
  border-bottom: 2px solid black;
}

.person_img_cont {
  margin: 0 auto;
}

.person_img {
  width: 100%;
  /* margin: 0 auto; */
}

.person_expand {
  /* display: initial; */
  max-height: 500px;
  overflow-y: scroll;
  transition: max-height 0.1s linear;
}

.person_retract {
  /* display: none; */
  max-height: 0px;
  overflow: clip;
  transition: max-height 0.1s linear;
}

.expand_arrow {
  height: 10px;
  margin-left: 10px;
  transform: rotate(0deg);
  transition: transform 0.15s linear;
}

.transform_arrow {
  height: 10px;
  margin-left: 10px;
  transform: rotate(180deg);
  transition: transform 0.15s linear;
}
