.Root {
  margin: 0;
  /* background-color: rgb(255, 248, 148); */
}

.NavBar {
  padding: 30px;
  background-color: rgb(14, 36, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Logo {
  font-family: "Sigmar", cursive;
  font-size: 30px;
  /* color: #2cff28; */
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

ul {
  margin: 0;
  list-style-type: none;
}

.NavLinks a {
  margin: 0 20px;
  color: white;
  text-decoration: none;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.NavLinks a.active {
  border-bottom: 2px solid rgb(255, 211, 66);
}
