.Root {
  margin: 0;
}

.NavBar {
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 30px;
  background-color: rgb(14, 36, 0);
  background-color: rgb(10, 25, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.Logo {
  font-family: "Sigmar", cursive;
  font-size: 30px;
  color: white;
  color: #2cff28;
  color: #ff9428;
  text-decoration: none;
  display: flex;
  align-items: center;
}

ul {
  margin: 0;
  list-style-type: none;
}

.NavLinks a {
  margin: 0 0 0 20px;
  color: white;
  text-decoration: none;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.NavLinks a.active {
  border-bottom: 2px solid #ff9428;
}

/* MEDIA QUERY CLASSES */

.Logo_mq {
  display: none;
}

.NavLinks_mq {
  display: none;
}

@media only screen and (max-width: 600px) {
  .NavBar {
    padding: 20px;
  }
  .NavLinks {
    display: none;
  }
  .logo_img_mq {
    width: 40px;
  }
  .NavLinks_mq {
    display: initial;
  }
  .NavLinks_mq img {
    height: 26px;
  }
  .NavLinks_mq a {
    margin: 0 0 0 20px;
  }
  .NavLinks_mq a.active {
    border-bottom: 2px solid #ff9428;
  }
  .Logo {
    display: none;
  }
  .Logo_mq {
    display: initial;
  }
}
