.Videos {
  max-width: 1000px;
  margin: 0 auto;
  font-family: "Kanit", sans-serif;
  /* border: 1px solid black; */
  padding: 0 30px 40px;
}

.videos__title {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1;
  font-size: 26px;
}

.Videos p {
  margin: 10px 0 0 0;
}

.videos_video {
  display: block;
  width: 100%;
  /* border: 2px solid green; */
}

.videos_list_h3 {
  margin: 0 0 10px 0;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
}

.video_descrip_box {
  /* border-top: 2px solid black; */
  border-bottom: 2px solid black;
  margin: 0 0 0 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.title_video_main {
  margin: 0;
  line-height: 1;
  font-size: 20px;
}

.video_list_p {
  margin: 10px 0 10px 0;
  font-size: 12px;
}

.video_list_item {
  border-bottom: 1px solid black;
  cursor: pointer;
  padding: 10px 5px;
}

.video_list_item_select {
  border-bottom: 1px solid black;
  background-color: rgb(219, 219, 219);
  cursor: pointer;
  padding: 10px 5px;
}

@media only screen and (max-width: 800px) {
}
