@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;600;700;800&family=Modak&family=Mrs+Sheppards&family=Sigmar&display=swap");
/* font-family: 'Kanit', sans-serif;
font-family: 'Modak', cursive;
font-family: 'Mrs Sheppards', cursive;
font-family: 'Sigmar', cursive; */

html {
  margin: 0;
}

body {
  margin: 0;
  background-color: rgb(255, 250, 182);
  background-color: white;
}

* {
  /* overflow-wrap: break-word; */
  /* overflow-wrap: break-word; */
  /* word-wrap: break-word; */
  word-break: break-word;
}

.LazyLoad {
  opacity: 0;
  transition: all 0.15s ease-in-out;
  position: relative;
  z-index: -1;
}

.is-visible {
  opacity: 1;
}
